{
    "out_dir_group": "gtex-coloc-gene-subset",
    "out_dir": "/mnt/lab_data/montgomery/nicolerg/local-eqtl/admixed/annotation/smr-coloc/output",
    "tmp_dir": "/mnt/lab_data/montgomery/nicolerg/local-eqtl/admixed/annotation/smr-coloc/tmp",
    "src_dir": "/mnt/lab_data/montgomery/nicolerg/local-eqtl/admixed/annotation/smr-coloc/scripts",

    "gwas_sample_sizes": "/mnt/lab_data/montgomery/nicolerg/local-eqtl/admixed/annotation/smr-coloc/config/n_gwas.txt",
    "eqtl_sample_sizes": "/mnt/lab_data/montgomery/nicolerg/local-eqtl/admixed/annotation/smr-coloc/config/n_eqtl.txt", 

    "gwas_type": "quant",

    "selection_basis": "eqtl",

    "selection_thresholds":
	{
		"eqtl": 1
	},

	"screening_thresholds":
	{
	},

    "plot_none": "True",

    "gwas_experiments":
    {

		"/mnt/lab_data/montgomery/nicolerg/local-eqtl/admixed/annotation/smr-coloc/gtex_gwas/coloc_input/coloc_imputed_ADIPOGen_Adiponectin.txt.gz":
		{
			"ref": "117_admix", 
			"gwas_format": "pval_only"
		},
		"/mnt/lab_data/montgomery/nicolerg/local-eqtl/admixed/annotation/smr-coloc/gtex_gwas/coloc_input/coloc_imputed_Astle_et_al_2016_Eosinophil_counts.txt.gz":
		{
			"ref": "117_admix", 
			"gwas_format": "pval_only"
		}
    },

    "eqtl_experiments":
    {
		"/mnt/lab_data/montgomery/nicolerg/local-eqtl/admixed/annotation/smr-coloc/allpairs/input/Adipose_Subcutaneous.filtered.af.global.allpairs.mike.tsv.gz": 
		{
			"ref": "117_admix", 
			"eqtl_format": "effect_size"
		}
    },

    "methods":
    {
        "coloc": {}
    },

    "ref_genomes":
    {
        "117_admix":
        {
            "file": "/mnt/lab_data/montgomery/nicolerg/local-eqtl/admixed/geno/hg38/gtex.admixed.MAC10.phased.hg38.recode.sorted.vcf.gz",
            "af_attribute": "AF",
            "N": 117
        }
    }
}
