{
        "out_dir_group":
                "method-comparisons-real-gwas",

	"selection_basis": 
		"eqtl",

	"selection_thresholds":
	{ 
		"eqtl": 1
	},
	"screening_thresholds": 
	{
		"eqtl": 1,
		"gwas": 1e-7
	},
        "methods": 
	{
                "finemap":{},
		"coloc": {},
		"twas": {},
		"caviarbf": {}
        },
        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
				"/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        },

	"gwas_experiments": {
		"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_BMI-Height_Yengo_2018.txt.gz": {"traits": ["BMI", "Height"], "ref": "1kgenomes", "gwas_format": "pvalue_only", "type": "quant", "N": 700000},
		"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_Schizophrenia_Li_2017.txt.gz": {"ref": "1kgenomes", "gwas_format": "pvalue_only", "type": "cc", "N": 108341, "s": "0.399"}},
		"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_Allergies_Ferreira_2017.txt.gz": {"ref": "1kgenomes", "gwas_format": "pvalue_only", "type": "cc", "N": 360838, "s": "0.5"}},
		"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_Inflammatory-Bowel-Disease-European_Liu_2015.txt.gz": {"traits": ["Inflammatory-Bowel-Disease"], "ref": "1kgenomes", "gwas_format": "pvalue_only", "type": "cc", "N": 96486, "s": "0.445"}},
		"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_Coronary-Artery-Disease_Nelson_2017.txt.gz": {"ref": "1kgenomes", "gwas_format": "pvalue_only", "type": "cc", "N": 148715, "s": "0.0726"}},
		"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_Type-2-Diabetes_Zhao_2017.txt.gz": {"ref": "1kgenomes", "gwas_format": "pvalue_only", "type": "cc", "N": 265678, "s": "0.276"}},
		"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_Bone-Mineral-Density-Estimated_Kemp_2017.txt.gz": {"ref": "1kgenomes", "gwas_format": "pvalue_only", "type": "quant", "N": 142487}},
		"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_Blood-Lipids_Willer_2013.txt.gz": {"traits": ["Total-Cholesterol-GWAS-and-Metabochip"], "ref": "1kgenomes", "gwas_format": "pvalue_only", "type": "quant", "N": 188577}},
		"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_Rheumatoid-Arthritis_Okada_2014.txt.gz": {"traits": ["Rheumatoid-Arthritis-European"], "ref": "1kgenomes", "gwas_format": "pvalue_only", "type": "cc", "N": 103638, "s": "0.288"}}
	},
		
	"eqtl_experiments": {
		"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Whole_Blood.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes"}
	}
}

