{
	"gwas_experiments": {"/users/mgloud/projects/brain_gwas/data/gwas/hcasmc/UKBB.GWAS1KG.EXOME.CAD.SOFT.META.PublicRelease.300517.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/2hrGlu_MAGIC_Europeans_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/BMI_GIANT_Europeans_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/BMI_GIANT_Mixed_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/CHD_CARDIoGRAMplusC4D_Mixed.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/FastGlu_MAGIC_Europeans_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/FastInsu_adjBMI_MAGIC_Europeans_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/FastInsu_MAGIC_Europeans_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/IS_METASTROKE_Mixed.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/MI_adjBMI_GENESISGuardian_Mixed.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/MI_GENESISGuardian_Mixed.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/T2D_DIAGRAM_European.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/WHRadjBMI_GIANT_Europeans_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/gwas/data/prepared/WHRadjBMI_GIANT_Mixed_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes"}
				},

	"eqtl_experiments":	
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Adipose_Visceral_Omentum_Analysis.cis.eqtl.gz": {"N": 185, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Adipose_Subcutaneous_Analysis.cis.eqtl.gz": {"N": 298, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Adrenal_Gland_Analysis.cis.eqtl.gz": {"N": 126, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Artery_Aorta_Analysis.cis.eqtl.gz": {"N": 197, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Artery_Coronary_Analysis.cis.eqtl.gz": {"N": 118, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Artery_Tibial_Analysis.cis.eqtl.gz": {"N": 285, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Esophagus_Mucosa_Analysis.cis.eqtl.gz": {"N": 241, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Esophagus_Muscularis_Analysis.cis.eqtl.gz": {"N": 218, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Heart_Atrial_Appendage_Analysis.cis.eqtl.gz": {"N": 159, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Heart_Left_Ventricle_Analysis.cis.eqtl.gz": {"N": 190, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Liver_Analysis.cis.eqtl.gz": {"N": 97, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Lung_Analysis.cis.eqtl.gz": {"N": 278, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Muscle_Skeletal_Analysis.cis.eqtl.gz": {"N": 361, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Nerve_Tibial_Analysis.cis.eqtl.gz": {"N": 256, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Ovary_Analysis.cis.eqtl.gz": {"N": 85, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Pancreas_Analysis.cis.eqtl.gz": {"N": 149, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Pituitary_Analysis.cis.eqtl.gz": {"N": 87, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Prostate_Analysis.cis.eqtl.gz": {"N": 87, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Hippocampus_Analysis.cis.eqtl.gz": {"N": 81, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Skin_Not_Sun_Exposed_Suprapubic_Analysis.cis.eqtl.gz": {"N": 196, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Hypothalamus_Analysis.cis.eqtl.gz": {"N": 81, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Skin_Sun_Exposed_Lower_leg_Analysis.cis.eqtl.gz": {"N": 302, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Nucleus_accumbens_basal_ganglia_Analysis.cis.eqtl.gz": {"N": 93, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Small_Intestine_Terminal_Ileum_Analysis.cis.eqtl.gz": {"N": 77, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Putamen_basal_ganglia_Analysis.cis.eqtl.gz": {"N": 82, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Spleen_Analysis.cis.eqtl.gz": {"N": 89, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Breast_Mammary_Tissue_Analysis.cis.eqtl.gz": {"N": 183, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Stomach_Analysis.cis.eqtl.gz": {"N": 170, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Testis_Analysis.cis.eqtl.gz": {"N": 157, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Cells_Transformed_fibroblasts_Analysis.cis.eqtl.gz": {"N": 272, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Thyroid_Analysis.cis.eqtl.gz": {"N": 278, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Colon_Sigmoid_Analysis.cis.eqtl.gz": {"N": 124, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Uterus_Analysis.cis.eqtl.gz": {"N": 70, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Colon_Transverse_Analysis.cis.eqtl.gz": {"N": 169, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Vagina_Analysis.cis.eqtl.gz": {"N": 79, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Whole_Blood_Analysis.cis.eqtl.gz": {"N": 338, "ref": "1kgenomes", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/hcasmc/hcasmc_gtex_subset_ensembl.txt"}},
	"gwas_threshold": 1,
	"eqtl_threshold": 1,
	"selection_basis": "eqtl",
	"methods": {
		"finemap":{}
	},
        "ref_genomes": {
               "1kgenomes": {
                        "file": "/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",
                        "af_attribute": "AF",
                        "N": 2504
                },
        }
}
