{
       "gwas_experiments": 
	{
		"/users/mgloud/projects/gwas/data/prepared/TG_GCLC_Mixed.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"},
		"/users/mgloud/projects/gwas/data/prepared/HDL_GCLC_Mixed.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"},
		"/users/mgloud/projects/gwas/data/prepared/LDL_GCLC_Mixed.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"},
		"/users/mgloud/projects/gwas/data/prepared/FastInsu_adjBMI_MAGIC_Europeans_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"},
		"/users/mgloud/projects/gwas/data/prepared/FastGlu_MAGIC_Europeans_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"},
		"/users/mgloud/projects/gwas/data/prepared/WHRadjBMI_GIANT_Mixed_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"},
		"/users/mgloud/projects/gwas/data/GENESIS/formatted/GWAS_GENESIS_MI.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size", "ref_allele_header": "Allele1", "alt_allele_header": "Allele2"},
		"/users/mgloud/projects/gwas/data/prepared/T2D_DIAGRAM_European.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"},
		"/users/mgloud/projects/gwas/data/prepared/CHD_CARDIoGRAMplusC4D_Mixed.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"},
		"/users/mgloud/projects/gwas/data/prepared/BMI_GIANT_Europeans_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"}
	},
	
	"eqtl_experiments":	
	{
		"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Liver.allpairs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"}
	},

	"eqtl_threshold": 
		1,

	"selection_basis": 
		"snps_from_list",

	"snp_list_file":
		"/users/mgloud/projects/insulin_resistance/output/coloc_ready_insulin_snp_list.txt",

	"methods": 
	{
		"finemap":{}
	},

        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
				"/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        }
}


