{
	"selection_basis": 
		"eqtl",

	"selection_thresholds":
	{ 
		"eqtl": 1e-5
	},
	
	"screening_thresholds": 
	{
		"eqtl": 1e-5,
		"gwas": 1e-5
	},
        "methods": 
	{
                "finemap":{}
        },
        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
				"/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        },

	"gwas_experiments": {
				"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_White-Blood-Cell-Traits_Tajuddin_2016.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only", "traits": ["Basophil-Counts-European-Americans", "Eosinophil-Counts-European-Americans", "Lymphocyte-Counts-European-Americans", "Monocyte-Counts-European-Americans", "Neutrophil-Counts-European-Americans", "White-Blood-Cell-Counts-European-Americans"]}
	},
				
	"eqtl_experiments": {
				"/users/mgloud/projects/magnet/data/all_associations/peer_cases_sorted_final.txt.gz": {"ref": "1kgenomes", "eqtl_format": "pval_only"}
	}
}
