{
       "gwas_experiments": 
	{
		"/users/mgloud/projects/brain_gwas/data/gwas/hcasmc/UKBB.GWAS1KG.EXOME.CAD.SOFT.META.PublicRelease.300517.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only", "rsid_column": "snptestid"},
		"/users/mgloud/projects/gwas/data/prepared/BMI_GIANT_Mixed_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"},
		"/users/mgloud/projects/gwas/data/prepared/WHRadjBMI_GIANT_Mixed_AllSNPs.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"}
	},
	
	"eqtl_experiments":	
	{
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-35peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-40peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-45peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-50peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-55peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-60peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-35peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-40peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-45peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-50peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-55peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Adipose_Subcutaneous/Adipose_Subcutaneous_nominal-fastQTL-60peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-35peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-40peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-45peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-50peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-55peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Artery_Tibial/Artery_Tibial_nominal-fastQTL-60peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-35peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-40peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-45peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-50peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-55peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Esophagus_Mucosa/Esophagus_Mucosa_nominal-fastQTL-60peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-35peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-40peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-45peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-50peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-55peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Lung/Lung_nominal-fastQTL-60peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-35peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-40peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-45peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-50peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-55peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Muscle_Skeletal/Muscle_Skeletal_nominal-fastQTL-60peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-35peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-40peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-45peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-50peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-55peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Nerve_Tibial/Nerve_Tibial_nominal-fastQTL-60peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-35peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-40peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-45peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-50peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-55peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Skin_Sun_Exposed_Lower_leg/Skin_Sun_Exposed_Lower_leg_nominal-fastQTL-60peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-35peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-40peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-45peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-50peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-55peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Thyroid/Thyroid_nominal-fastQTL-60peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"}
	},


	"selection_basis": 
		"eqtl",

	"methods": 
	{
		"finemap":{}
	},
	
	"selection_thresholds":
	{ 
		"eqtl": 1e-7
	},
	
	"screening_thresholds": 
	{
		"eqtl": 1e-7,
		"gwas": 1e-5
	},

        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
				"/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        }
}
