{
       "gwas_experiments": 
	{
		"/users/mgloud/projects/brain_gwas/data/gwas/hcasmc/UKBB.GWAS1KG.EXOME.CAD.SOFT.META.PublicRelease.300517.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"}
	},
	
	"eqtl_experiments":	
	{
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-1peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-2peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-3peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-4peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-6peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-7peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-8peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-9peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-11peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-12peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-13peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-14peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-16peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-17peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-18peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-19peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-21peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-22peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-23peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-24peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-26peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-27peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-28peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-29peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"}
	},

	"eqtl_threshold": 
		1e-5,

	"selection_basis": 
		"eqtl",

	"methods": 
	{
		"finemap":{}
	},

        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
				"/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        }
}
