{
       "gwas_experiments": 
	{
		"/users/mgloud/projects/brain_gwas/data/gwas/hcasmc/UKBB.GWAS1KG.EXOME.CAD.SOFT.META.PublicRelease.300517.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"}
	},
	
	"eqtl_experiments":	
	{
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-0peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-1peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-2peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-3peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-4peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-5peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-6peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-7peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-8peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-9peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-10peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-11peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-12peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-13peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-14peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-15peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-16peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-17peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-18peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-19peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-20peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-21peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-22peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-23peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-24peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-25peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-26peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-27peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-28peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-29peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-30peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-31peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-32peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-33peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-34peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-35peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-36peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-37peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-38peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-39peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-40peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-41peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-42peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-43peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-44peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-45peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-46peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-47peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-48peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-49peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-50peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-51peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-52peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-53peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-54peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-55peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-56peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-57peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-58peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-59peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"/mnt/lab_data/montgomery/mgloud/peer_eqtls/data/fastqtl_with_peer/Whole_Blood/Whole_Blood_nominal-fastQTL-60peer.formatted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"}
	},


	"selection_basis": 
		"eqtl",

	"methods": 
	{
		"finemap":{}
	},
	
	"selection_thresholds":
	{ 
		"eqtl": 1e-5
	},
	
	"screening_thresholds": 
	{
		"eqtl": 1e-5,
		"gwas": 1e-5
	},

        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
				"/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        }
}
