{
	"gwas_experiments": {"/users/mgloud/projects/brain_gwas/data/gwas/rpe/Fritsche_sorted.txt.gz": {"ref": "1kgenomes"}},
	"eqtl_experiments": {"/users/mgloud/projects/brain_gwas/data/eqtls/output/galactose.eqtls.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/output/glucose.eqtls.txt.gz": {"ref": "1kgenomes"}},
	"gwas_threshold": 1e-5,
	"eqtl_threshold": 1,
	"methods": {
		"finemap":{}
	},
        "ref_genomes": {
               "1kgenomes": {
                        "file": "/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",
                        "af_attribute": "AF",
                        "N": 2504
                }

        }
}
