{
	"gwas_experiments": {"/users/mgloud/projects/brain_gwas/data/gwas/rpe/Fritsche_sorted.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"},
				"/users/mgloud/projects/brain_gwas/data/gwas/rpe/23andme_myopia.prepared.txt.gz": {"ref": "1kgenomes", "gwas_format": "effect_size"}},
	"eqtl_experiments": {"/users/mgloud/projects/brain_gwas/data/eqtls/rpe/sqtls/rpe_glucose_sqtls.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/rdh5_sqtl_only.txt"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/rpe/sqtls/rpe_galactose_sqtls.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size", "selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/rdh5_sqtl_only.txt"}},

        "selection_basis":
                "eqtl",

	"selection_thresholds":
	{
		"gwas": 1,
		"eqtl": 1e-4
	},

	"gwas_threshold": 1,
	"eqtl_threshold": 1e-4,
	"methods": {
		"finemap":{}
	},
        "ref_genomes": {
               "1kgenomes": {
                        "file": "/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",
                        "af_attribute": "AF",
                        "N": 2504
                }

        }
}
