{
	"gwas_experiments": {"/users/mgloud/projects/brain_gwas/data/gwas/rpe/Fritsche_sorted.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"}},
	"eqtl_experiments": {
        			"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Caudate_basal_ganglia.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Cells_EBV-transformed_lymphocytes.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Anterior_cingulate_cortex_BA24.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Cerebellar_Hemisphere.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Cerebellum.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Cortex.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Frontal_Cortex_BA9.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Adipose_Visceral_Omentum.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Adipose_Subcutaneous.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Adrenal_Gland.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Artery_Aorta.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Artery_Coronary.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Artery_Tibial.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Esophagus_Mucosa.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Esophagus_Muscularis.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Heart_Atrial_Appendage.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Heart_Left_Ventricle.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Liver.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Lung.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Muscle_Skeletal.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Nerve_Tibial.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Ovary.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Pancreas.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Pituitary.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Prostate.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Hippocampus.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Skin_Not_Sun_Exposed_Suprapubic.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Hypothalamus.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Skin_Sun_Exposed_Lower_leg.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Nucleus_accumbens_basal_ganglia.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Small_Intestine_Terminal_Ileum.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Putamen_basal_ganglia.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Spleen.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Breast_Mammary_Tissue.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Stomach.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Testis.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Cells_Transformed_fibroblasts.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Thyroid.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Colon_Sigmoid.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Uterus.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Colon_Transverse.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Vagina.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Whole_Blood.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/dougs_favorites_and_top_amd_hits.txt", "ref": "1kgenomes"}},

	"selection_basis":
                "eqtl",
	"gwas_threshold": 1,
	"eqtl_threshold": 1,
	"methods": {
		"finemap":{}
	},
	"plot_all": "True",
        "ref_genomes": {
               "1kgenomes": {
                        "file": "/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",
                        "af_attribute": "AF",
                        "N": 2504
                }

        }
}
