{
	"eqtl_experiments": {"/users/mgloud/projects/brain_gwas/data/eqtls/output/galactose.eqtls.txt.gz": {"N":23},
			     "/users/mgloud/projects/brain_gwas/data/eqtls/output/glucose.eqtls.txt.gz": {"N":23}},
	"gwas_experiments": {"/users/mgloud/projects/brain_gwas/data/gwas/rpe/Fritsche_2015_AdvancedAMD.txt": {"N":33976, "s":0.475, "type":"cc"}},
	"gwas_threshold": 5e-6,
	"methods": {
		"coloc":{},
		"finemap":{}
	}
}
