{
	"eqtl_experiments":	{"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Caudate_basal_ganglia_Analysis.cis.eqtl.gz": {"N": 100},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Cells_EBV-transformed_lymphocytes_Analysis.cis.eqtl.gz": {"N": 114},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Anterior_cingulate_cortex_BA24_Analysis.cis.eqtl.gz": {"N": 72},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Cerebellar_Hemisphere_Analysis.cis.eqtl.gz": {"N": 89},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Cerebellum_Analysis.cis.eqtl.gz": {"N": 103},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Cortex_Analysis.cis.eqtl.gz": {"N": 96},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Frontal_Cortex_BA9_Analysis.cis.eqtl.gz": {"N": 92},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Adipose_Visceral_Omentum_Analysis.cis.eqtl.gz": {"N": 185},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Adipose_Subcutaneous_Analysis.cis.eqtl.gz": {"N": 298},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Adrenal_Gland_Analysis.cis.eqtl.gz": {"N": 126},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Artery_Aorta_Analysis.cis.eqtl.gz": {"N": 197},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Artery_Coronary_Analysis.cis.eqtl.gz": {"N": 118},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Artery_Tibial_Analysis.cis.eqtl.gz": {"N": 285},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Esophagus_Mucosa_Analysis.cis.eqtl.gz": {"N": 241},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Esophagus_Muscularis_Analysis.cis.eqtl.gz": {"N": 218},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Heart_Atrial_Appendage_Analysis.cis.eqtl.gz": {"N": 159},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Heart_Left_Ventricle_Analysis.cis.eqtl.gz": {"N": 190},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Liver_Analysis.cis.eqtl.gz": {"N": 97},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Lung_Analysis.cis.eqtl.gz": {"N": 278},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Muscle_Skeletal_Analysis.cis.eqtl.gz": {"N": 361},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Nerve_Tibial_Analysis.cis.eqtl.gz": {"N": 256},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Ovary_Analysis.cis.eqtl.gz": {"N": 85},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Pancreas_Analysis.cis.eqtl.gz": {"N": 149},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Pituitary_Analysis.cis.eqtl.gz": {"N": 87},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Prostate_Analysis.cis.eqtl.gz": {"N": 87},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Hippocampus_Analysis.cis.eqtl.gz": {"N": 81},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Skin_Not_Sun_Exposed_Suprapubic_Analysis.cis.eqtl.gz": {"N": 196},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Hypothalamus_Analysis.cis.eqtl.gz": {"N": 81},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Skin_Sun_Exposed_Lower_leg_Analysis.cis.eqtl.gz": {"N": 302},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Nucleus_accumbens_basal_ganglia_Analysis.cis.eqtl.gz": {"N": 93},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Small_Intestine_Terminal_Ileum_Analysis.cis.eqtl.gz": {"N": 77},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Brain_Putamen_basal_ganglia_Analysis.cis.eqtl.gz": {"N": 82},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Spleen_Analysis.cis.eqtl.gz": {"N": 89},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Breast_Mammary_Tissue_Analysis.cis.eqtl.gz": {"N": 183},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Stomach_Analysis.cis.eqtl.gz": {"N": 170},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Testis_Analysis.cis.eqtl.gz": {"N": 157},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Cells_Transformed_fibroblasts_Analysis.cis.eqtl.gz": {"N": 272},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Thyroid_Analysis.cis.eqtl.gz": {"N": 278},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Colon_Sigmoid_Analysis.cis.eqtl.gz": {"N": 124},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Uterus_Analysis.cis.eqtl.gz": {"N": 70},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Colon_Transverse_Analysis.cis.eqtl.gz": {"N": 169},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Vagina_Analysis.cis.eqtl.gz": {"N": 79},
				"/users/mgloud/projects/brain_gwas/data/eqtls/tabix/Whole_Blood_Analysis.cis.eqtl.gz": {"N": 338}},
	"gwas_experiments": {"/users/mgloud/projects/brain_gwas/data/gwas/schizophrenia/scz2.snp.results.txt": {"N":150064, "s":0.246, "type":"cc"}},
	"gwas_threshold": 5e-6,
	"methods": {
		"coloc":{},
		"finemap":{}
	}
}
