{
       "gwas_experiments": 
	{
		"/users/mgloud/projects/gwas/data/munged/GWAS_Parkinsons_Pankratz_2012.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"},
		"/users/mgloud/projects/gwas/data/munged/GWAS_Alzheimers_Lambert_2013.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"},
		"/users/mgloud/projects/gwas/data/munged/GWAS_Alzheimers-Protein-Levels_Ramirez_2014.txt.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"}
	},

	"eqtl_experiments": 
	{
        			"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Amygdala.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
        			"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Spinal_cord_cervical_c-1.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
        			"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Substantia_nigra.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
        			"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Caudate_basal_ganglia.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Anterior_cingulate_cortex_BA24.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Cerebellar_Hemisphere.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Cerebellum.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Cortex.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Frontal_Cortex_BA9.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Hippocampus.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Hypothalamus.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Nucleus_accumbens_basal_ganglia.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"},
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain_Putamen_basal_ganglia.allpairs.txt.gz": {"selection_subset": "/users/mgloud/projects/brain_gwas/data/gene_lists/rpe/gtex_test_genes.txt", "ref": "1kgenomes", "eqtl_format": "effect_size"}
	},

	"methods": 
	{
		"finemap":{}
	},

        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
				"/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        },

	"selection_basis":
                "gwas",

	"selection_thresholds":
	{
		"gwas": 1e-6
	},

	"screening_thresholds": 
	{
		"eqtl": 1e-5,
		"gwas": 1e-6
	},

	"plot_all": "True"
}
