{
    "__default__" :
    {
        "nCPUs"     : "1",
        "time"      : "12:00:00",
        "mem"       : "6G",
        "account"   : "default",
        "partition" : "interactive",
        "name"      : "{rule}.{wildcards.trait1}.{wildcards.trait2}.{wildcards.n}",
        "mail"      : "FAIL",
        "output"    : "log/cluster/{rule}.{wildcards.trait1}.{wildcards.trait2}.{wildcards.n}.out"
    },
    "preprocess" :
    {
        "name"      : "{rule}.{wildcards.study}",
        "mail"      : "FAIL",
        "output"    : "/log/cluster/{rule}.{wildcards.study}.out"
    },
    "split_loci" :
    {
        "name"      : "{rule}.{wildcards.trait1}.{wildcards.trait2}",
        "output"    : "log/cluster/{rule}.{wildcards.trait1}.{wildcards.trait2}.out"
    }
}
