{
    "__default__"   :
    {
        "nCPUs"     : "1",
        "time"      : "12:00:00",
        "mem"       : "6G",
        "account"   : "default",
        "partition" : "interactive",
        "mail"      : "FAIL",
        "output"    : "log/cluster/{rule}.{wildcards.trait1}.{wildcards.trait2}.{wildcards.n}.out"
    },
    "split_loci"    :
    {
        "output"    : "log/cluster/{rule}.{wildcards.trait1}.{wildcards.trait2}.out"
    },
    "coloc"         :
    {
        "nCPUs"     : "8",
        "mem"       : "24G",
        "output"    : "log/cluster/{rule}.out" 
    }
}
