{
    "__default__"   :
    {
        "nCPUs"     : "1",
        "time"      : "1:00:00",
        "mem"       : "6G",
        "account"   : "default",
        "partition" : "interactive",
        "mail"      : "FAIL"
    },
    "preprocess"    :
    {
    },
    "overlap"       :
    {
    },
    "split_loci"    :
    {
    },
    "COLOC"         :
    {
        "nCPUs"     : "1",
        "mem"       : "8G"
    },
    "FINEMAP"       :
    {
        "nCPUs"     : "1",
        "mem"       : "8G"
    }
}
